.container {
  display: flex;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.text h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center; /* Align text vertically */
}

.text h1 .bilog {
  color: #ffd700;
  font-size: 80px;
  line-height: 80px;
}

.text h1 .translator {
  color: rgb(173, 169, 169);
  margin-left: 10px; /* Added margin for spacing */
  font-size: 80px;
  line-height: 80px;
}

.input-box, .output-box, .definition-box {
  width: calc(33.33% - 20px); /* Adjusted to take one-third width with padding accounted for */
  padding: 5px;
  font-size: 18px;
}

.input-box {
  margin-right: 20px; /* Added margin to separate the input boxes */
}

.output-box, .definition-box {
  border: 1px solid #ccc;
  margin-top: 10px;
}

.definition-box textarea {
  height: 100px; /* Adjusted height */
}

@media screen and (max-width: 600px)
{
  .text h1{
    font-size: 36px:
    line-height: 36px:
  }
}
